* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: rgb(0, 0, 0);
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

.initial i:hover {
  color: #045de9;
  font-size: 110%;
  cursor: pointer;
}

.projects:hover {
  transform: scale(1.005);
  border: solid #fff 2px;
}

.nav-left {
  font-size: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  height: 70px;
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 0 10%;
}

.navbar a {
  color: #333;
  padding: 10px 20px;
}

.navbar ul {
  display: flex;
}

.nav-right a:hover {
  border-bottom: #045de9 2px solid;
}

.outline {
  color: #045de9;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 80%;

  padding: 10%;
}

.greeting a {
  width: 180px;
}

.head {
  background-color: rgb(240, 243, 248);
  display: flex;
  justify-content: center;
}

/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #045de9;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

#languages {
  border-bottom: #045de9 solid 2px;
}

.greeting p {
  font-size: 20px;
}

.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

/* Flex columns */
.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row-odd {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(240, 243, 248);
}

.row-even {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 40vh;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

.contact {
  padding: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: rgb(240, 243, 248); */
}

.contact li:hover {
  color: #045de9;
  font-size: 105%;
}

#urband {
  width: 100%;
  /* height: auto; */
}
#urband1 {
  width: 49%;
  /* height: auto; */
}

/* Education Page */

.edu-title {
  max-width: 100%;
  text-align: center;
  padding: 30px 0 5px 0;
  margin: 70px 0 0px 0;
  padding: 20px;
}

.edu {
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0% 20%;
  /* border: solid #7d7d7d 1px; */
  border-radius: 50px;
}

.uni-cont {
  width: 500px;
  height: 260px;
  /* background-color: rgb(211, 249, 236); */
  margin: 5px 5px 20px 5px;
  border-radius: 50px;
  text-align: center;
}

.uni-cont ul {
  margin: 10px;
}

.uni {
  background-color: #f2f7ff;
  margin: 25px;
  padding: 25px;
  border-radius: 50px;
  max-width: 100%;
}

.foot {
  display: grid;
  place-items: center;
  padding: 50px;
  margin: 50px;
}

.inner {
  font-weight: bold;
  /* padding: 0 20%; */
}

.outer {
  padding: 0 13%;
}

.outer2 {
  padding: 0 5%;
}

.cont {
  text-align: center;
}

.break {
  margin: 10px;
  padding: 10px;
}

/* Projects */

.subpages {
  background-color: #f2f7ff;
  /* width: 80%; */
  color: #fff;
  /* margin: 0 10%; */
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  text-align: center;
  padding: 100px;
  margin: 5px;
}

.zz {
  height: 70px;
  background: #f2f7ff;
}

.code {
  width: 80%;
  margin-top: 20px;
}

.wrap {
  display: grid;
  place-items: center;
}

.wrap h1 {
  padding: 10px;
  margin: 80px 0 0 0;
}

/* Mobile */
@media (max-width: 1440px) {
  .name {
    max-width: 100%;
    text-align: center;
  }

  .icons {
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
  }

  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
    width: 100%;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }

  .initial {
    flex-direction: column;
  }

  .greeting {
    height: 50%;
    padding-top: 20%;
    margin-top: 20%;
    padding-bottom: 5%;
    width: 100%;
  }

  .head {
    flex-direction: column;
  }

  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
    height: auto;
  }

  .flex-columns .column .column-1,
  .flex-columns .column .column-2 {
    height: 100%;
  }

  .row-odd {
    background-color: #fff;
  }

  .subpages {
    height: 50px;
  }
}
